{% include base_path %}

{% if site.author %}
  {% assign author = site.author %}
{% endif %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg" id="home-button"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
  
  <!-- Horizontal Author Card Popup -->
  <div class="author-card-popup" id="authorCardPopup">
    <div class="author-card-popup__content">
      <div class="author-card-popup__avatar">
        {% if author.avatar contains "://" %}
          <img src="{{ author.avatar }}" alt="{{ author.name }}">
        {% else %}
          <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" alt="{{ author.name }}">
        {% endif %}
      </div>
      
      <div class="author-card-popup__info">
        <h3 class="author-card-popup__name">{{ author.name }}</h3>
        {% if author.bio %}<p class="author-card-popup__bio">{{ author.bio }}</p>{% endif %}
        
        <div class="author-card-popup__details">
          {% if author.location %}
            <span><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ author.location }}</span>
          {% endif %}
          {% if author.employer %}
            <span><i class="fa fa-fw fa-briefcase" aria-hidden="true"></i> {{ author.employer }}</span>
          {% endif %}
        </div>
      </div>
      
      <div class="author-card-popup__socials">
        {% if author.email %}
          <a href="mailto:{{ author.email }}" title="Email"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i></a>
        {% endif %}
        {% if author.github %}
          <a href="https://github.com/{{ author.github }}" title="Github"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a>
        {% endif %}
        {% if author.linkedin %}
          <a href="https://www.linkedin.com/in/{{ author.linkedin }}" title="LinkedIn"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i></a>
        {% endif %}
        {% if author.twitter %}
          <a href="https://twitter.com/{{ author.twitter }}" title="Twitter"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i></a>
        {% endif %}
        {% if author.youtube %}
          <a href="https://www.youtube.com/@{{ author.youtube }}" title="YouTube"><i class="fab fa-fw fa-youtube" aria-hidden="true"></i></a>
        {% endif %}
        {% if author.googlescholar %}
          <a href="{{ author.googlescholar }}" title="Google Scholar"><i class="fas fa-fw fa-graduation-cap"></i></a>
        {% endif %}
        {% if author.flickr %}
          <a href="https://www.flickr.com/{{ author.flickr }}" title="Flickr"><i class="fab fa-fw fa-flickr" aria-hidden="true"></i></a>
        {% endif %}
        {% if author.facebook %}
          <a href="https://www.facebook.com/{{ author.facebook }}" title="Facebook"><i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i></a>
        {% endif %}
        {% if author.steam %}
          <a href="https://steamcommunity.com/id/{{ author.steam }}" title="Steam"><i class="fab fa-fw fa-steam-square" aria-hidden="true"></i></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>