/* ==========================================================================
   Syntax highlighting
   ========================================================================== */

div.highlighter-rouge, figure.highlight {
  position: relative;
  margin-bottom: 1em;
  padding: 1.5em;
  border: 2px solid $base-surface-alt;
  border-radius: $border-radius;
  background: $base-surface;
  box-shadow: $box-shadow;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em 1em;
    background: linear-gradient(135deg, $lavender-dark 0%, $lavender 100%);
    color: $base-bg;
    content: "\f121";
    font-family: "fontawesome" !important;
    font-size: $type-size-6;
    line-height: 1;
    text-transform: none;
    speak: none;
    border-bottom-left-radius: $border-radius;
    font-weight: 600;
  }

  .highlight {
    margin: 0;
    font-family: $monospace;
    font-size: $type-size-7;
    line-height: 1.8;
  }
}

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }


/*
   Base2Tone Lavender Dark Syntax Highlighting
   ========================================================================== */

.highlight .c { color: $base-muted } /* Comment */
.highlight .err { color: $danger-color } /* Error */
.highlight .g { color: $base-text } /* Generic */
.highlight .k { color: $lavender-light } /* Keyword */
.highlight .l { color: $sage-light } /* Literal */
.highlight .n { color: $base-text } /* Name */
.highlight .o { color: $lavender } /* Operator */
.highlight .x { color: $sage } /* Other */
.highlight .p { color: $base-text } /* Punctuation */
.highlight .cm { color: $base-muted } /* Comment.Multiline */
.highlight .cp { color: $lavender-light } /* Comment.Preproc */
.highlight .c1 { color: $base-muted } /* Comment.Single */
.highlight .cs { color: $lavender-light } /* Comment.Special */
.highlight .gd { color: $danger-color } /* Generic.Deleted */
.highlight .ge { color: $base-text; font-style: italic } /* Generic.Emph */
.highlight .gr { color: $danger-color } /* Generic.Error */
.highlight .gh { color: $lavender-pale } /* Generic.Heading */
.highlight .gi { color: $sage } /* Generic.Inserted */
.highlight .go { color: $base-text } /* Generic.Output */
.highlight .gp { color: $base-text } /* Generic.Prompt */
.highlight .gs { color: $base-text-bright; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: $lavender-light } /* Generic.Subheading */
.highlight .gt { color: $base-text } /* Generic.Traceback */
.highlight .kc { color: $lavender-pale } /* Keyword.Constant */
.highlight .kd { color: $lavender-light } /* Keyword.Declaration */
.highlight .kn { color: $lavender } /* Keyword.Namespace */
.highlight .kp { color: $lavender } /* Keyword.Pseudo */
.highlight .kr { color: $lavender-light } /* Keyword.Reserved */
.highlight .kt { color: $lavender-pale } /* Keyword.Type */
.highlight .ld { color: $sage-light } /* Literal.Date */
.highlight .m { color: $sage-light } /* Literal.Number */
.highlight .s { color: $sage-light } /* Literal.String */
.highlight .na { color: $sage } /* Name.Attribute */
.highlight .nb { color: $sage } /* Name.Builtin */
.highlight .nc { color: $lavender-pale } /* Name.Class */
.highlight .no { color: $lavender-pale } /* Name.Constant */
.highlight .nd { color: $lavender } /* Name.Decorator */
.highlight .ni { color: $lavender-pale } /* Name.Entity */
.highlight .ne { color: $danger-color } /* Name.Exception */
.highlight .nf { color: $lavender-light } /* Name.Function */
.highlight .nl { color: $base-text } /* Name.Label */
.highlight .nn { color: $lavender-pale } /* Name.Namespace */
.highlight .nx { color: $base-text } /* Name.Other */
.highlight .py { color: $base-text } /* Name.Property */
.highlight .nt { color: $lavender-light } /* Name.Tag */
.highlight .nv { color: #22b3eb } /* Name.Variable */
.highlight .ow { color: #859900 } /* Operator.Word */
.highlight .w { color: #586e75 } /* Text.Whitespace */
.highlight .mf { color: #2aa198 } /* Literal.Number.Float */
.highlight .mh { color: #2aa198 } /* Literal.Number.Hex */
.highlight .mi { color: #2aa198 } /* Literal.Number.Integer */
.highlight .mo { color: #2aa198 } /* Literal.Number.Oct */
.highlight .sb { color: #93a1a1 } /* Literal.String.Backtick */
.highlight .sc { color: #2aa198 } /* Literal.String.Char */
.highlight .sd { color: #586e75 } /* Literal.String.Doc */
.highlight .s2 { color: #2aa198 } /* Literal.String.Double */
.highlight .se { color: #cb4b16 } /* Literal.String.Escape */
.highlight .sh { color: #586e75 } /* Literal.String.Heredoc */
.highlight .si { color: #2aa198 } /* Literal.String.Interpol */
.highlight .sx { color: #2aa198 } /* Literal.String.Other */
.highlight .sr { color: #dc322f } /* Literal.String.Regex */
.highlight .s1 { color: #2aa198 } /* Literal.String.Single */
.highlight .ss { color: #2aa198 } /* Literal.String.Symbol */
.highlight .bp { color: #22b3eb } /* Name.Builtin.Pseudo */
.highlight .vc { color: #22b3eb } /* Name.Variable.Class */
.highlight .vg { color: #22b3eb } /* Name.Variable.Global */
.highlight .vi { color: #22b3eb } /* Name.Variable.Instance */
.highlight .il { color: #2aa198 } /* Literal.Number.Integer.Long */